<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock-register">
      <div class="logo">
        <img src="../../../assets/logo.png" />
      </div>
      <h3 translate>Sign Up <app-language-selector [icon]="true"></app-language-selector></h3>

      <mat-button-toggle-group name="accountType" aria-label="Account Type">
        <mat-button-toggle value="company">{{'Company' |translate}}</mat-button-toggle>
        <mat-button-toggle value="individual">{{'Individual' | translate}}</mat-button-toggle>
      </mat-button-toggle-group>

      <div class="formGroup">
        <input type="name" class="formControl" placeholder="{{'Name' | translate}}" #userName required />
      </div>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="{{'Email Address' | translate}}" #userEmail required />
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="{{'Password' | translate}}" #userPwd required />
      </div>

      <div class="formGroup">
        <input type="confirmPassword" class="formControl" placeholder="{{'Confirm Password' | translate}}" #userConfirmPwd required />
      </div>

      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="{{'Sign Up' | translate}}"
          (click)="authService.SignUp(userEmail.value, userPwd.value)" />
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner" translate>Or</span></span>
      </div>

      <!-- Continue with Google -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()" translate>
          <i class="fab fa-google"></i>
          Continue with Google
        </button>
      </div>
    </div>

    <div class="redirectToLogin" translate>
      <span>Already have an account?
        <span class="redirect" (click)="navigateTo('sign-in')" translate>Login</span></span>
    </div>
  </div>
</div>