<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock-register">
      <div class="logo">
        <img src="../../../assets/logo.png" />
      </div>
      <h3 translate>Sign Up <app-language-selector [icon]="true"></app-language-selector>
      </h3>

      <div class="center">
        <mat-button-toggle-group class="accountType" name="accountType" aria-label="Account Type">
          <mat-button-toggle value="company">{{ 'Company' | translate }}</mat-button-toggle>
          <mat-button-toggle value="individual">{{ 'Individual' | translate }}</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <mat-grid-list cols="2" class="block-grid-list" rows="1">
        <mat-grid-tile>
<!-- 
          <hub-form-group name="name" [control]="nameFormControl">
            <mat-form-field appearance="fill">
              <mat-label>Descrição</mat-label>
              <textarea matInput formControlName="name"></textarea>
            </mat-form-field>
          </hub-form-group> -->

          <div class="formGroup">
            <label translate>Name</label>
            <input type="name" class="formControl" placeholder="{{ 'Name' | translate }}" #userName required />
          </div>

          <div class="formGroup">
            <label translate>Email</label>
            <input type="email" class="formControl" placeholder="{{ 'Email Address' | translate }}" #userEmail
              required />
          </div>

          <div class="formGroup">
            <label translate>Password</label>
            <input type="password" class="formControl" placeholder="{{ 'Password' | translate }}" #userPwd required />
          </div>

          <div class="formGroup">
            <label translate>Confirm Password</label>
            <input type="confirmPassword" class="formControl" placeholder="{{ 'Confirm Password' | translate }}"
              #userConfirmPwd required />
          </div>

        </mat-grid-tile>
        <mat-grid-tile>
          <div class="formGroup">
            <label translate>Address</label>
            <input type="name" class="formControl" placeholder="{{ 'Address' | translate }}" #address required />
          </div>

          <div class="formGroup">
            <label translate>Postcode</label>
            <input type="name" class="formControl" placeholder="{{ 'Postcode' | translate }}" #postcode required />
          </div>

          <div class="formGroup">
            <label translate>County</label>
            <input type="name" class="formControl" placeholder="{{ 'County' | translate }}" #county required />
          </div>

          <div class="formGroup">
            <label translate>Phone Number</label>
            <input type="tel" class="formControl" placeholder="{{ 'Phone Number' | translate }}" #phoneNumber
              required />
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="{{ 'Create Account' | translate }}" (click)="register()" />
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner" translate>Or</span></span>
      </div>

      <!-- Continue with Google -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="loginWithGoogle()" translate>
          <i class="fab fa-google"></i>
          Continue with Google
        </button>
      </div>
    </div>

    <div class="redirectToLogin" translate>
      <span translate>Already have an account? <span class="redirect" (click)="navigateTo('sign-in')"
          translate>Login</span></span>
    </div>
  </div>
</div>