<div class="">
  <h2 mat-dialog-title align="center">{{ modalTitle }}</h2>
</div>

<mat-dialog-content class="mat-typography">


  <form class="form" name="itemForm" [formGroup]="form">

    <div class="form-side-by-side">


      <div class="form-left">
        <app-form-group name="title" [control]="titleFormControl" label="Title" [validationErrors]="validationErrors">
          <mat-form-field appearance="fill">
            <input matInput value="" formControlName="title" />
          </mat-form-field>
        </app-form-group>

        <app-form-group name="description" [control]="descriptionFormControl" label="Description"
          [validationErrors]="validationErrors">
          <mat-form-field appearance="fill">
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
        </app-form-group>

        <app-form-group name="category" [control]="categoryFormControl" label="Category"
          [validationErrors]="validationErrors">
          <mat-form-field appearance="fill">
            <input type="text" matInput formControlName="category" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let category of categories" [value]="category">
                {{category}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </app-form-group>

        <app-form-group name="postcode" [control]="postcodeFormControl" label="Postcode"
          [validationErrors]="validationErrors">
          <mat-form-field appearance="fill">
            <input matInput formControlName="postcode" />
          </mat-form-field>
        </app-form-group>

        <app-form-group name="typeOfRequest" [control]="typeOfRequestFormControl" label="Type of Request"
          [validationErrors]="validationErrors">
          <mat-button-toggle-group formControlName="typeOfRequest">
            <mat-button-toggle value="{{typeOfRequest.Offer.toString()}}" translate>Offer</mat-button-toggle>
            <mat-button-toggle value="{{typeOfRequest.Request.toString()}}" translate>Request</mat-button-toggle>
            <mat-button-toggle value="{{typeOfRequest.Trade.toString()}}" translate>Trade</mat-button-toggle>
          </mat-button-toggle-group>
        </app-form-group>

        <app-form-group name="expirationDate" [control]="expirationDateFormControl" label="Expiration Date"
          [validationErrors]="validationErrors">
          <mat-form-field appearance="fill">
            <mat-select formControlName="expirationDate">
              <mat-option *ngFor="let date of dates" [value]="date.id">
                {{ date.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </app-form-group>

        <app-form-group name="acceptsTrade" [control]="acceptsTradeFormControl">
          <mat-checkbox formControlName="acceptsTrade">Aceita trocas</mat-checkbox>
        </app-form-group>
      </div>

      <div class="form-right">
        <img *ngIf="itemImagesAvaliable && item.images[0]" mat-card-image src="{{ item.images[0] }}"
          (click)="fileInput0.click()" (change)="onFileSelected($event, 0)" />
        <div *ngIf="!itemImagesAvaliable || !item.images[0]" class="no-image" (change)="onFileSelected($event, 0)"
          (click)="fileInput0.click()">
          <i class="fa fa-camera"></i>
        </div>
        <img class="image-tile" *ngIf="itemImagesAvaliable && item.images[1]" mat-card-image src="{{ item.images[1] }}"
          (click)="fileInput1.click()" (change)="onFileSelected($event, 1)" />
        <div *ngIf="!itemImagesAvaliable || !item.images[1]" class="no-image" (click)="fileInput1.click()"
          (change)="onFileSelected($event, 1)">
          <i class="fa fa-camera"></i>
        </div>
        <img *ngIf="itemImagesAvaliable && item.images[2]" mat-card-image src="{{ item.images[2] }}"
          (click)="fileInput2.click()" (change)="onFileSelected($event, 2)" />
        <div *ngIf="!itemImagesAvaliable || !item.images[2]" class="no-image" (click)="fileInput2.click()"
          (change)="onFileSelected($event, 2)">
          <i class="fa fa-camera"></i>
        </div>
      </div>
    </div>

    <input hidden (change)="onFileSelected($event, 0)" #fileInput0 accept=".png,.jpg" type="file">
    <input hidden (change)="onFileSelected($event, 1)" #fileInput1 accept=".png,.jpg" type="file">
    <input hidden (change)="onFileSelected($event, 2)" #fileInput2 accept=".png,.jpg" type="file">


    <div class="wrapper">
      <div class="card-list-item" *ngFor="let card of cards" (click)="selectedAd = !isEdit ? card.id : selectedAd">
        <mat-button-toggle style="border-radius: 0.8em; display: flex" class="destacar-anuncio" value="card.id"
          [ngClass]="(selectedAd == card.id) ? 'active' : ''">
          <ng-container *ngIf="card.icon != null">
            <mat-icon>{{card.icon}}</mat-icon>
          </ng-container>

          <ng-container *ngIf="!card.icon">
            <mat-icon class="stacked-icon">{{card.iconStacked1}}</mat-icon>
            <mat-icon class="stacked-icon">{{card.iconStacked2}}</mat-icon>
          </ng-container>

          <div class="card-text">
            <mat-card-title style="font-size: 15px">{{ card.title }}</mat-card-title>
            <mat-card-content *ngIf="card.days || card.amount">
              <div class="curency">
                <span>
                  <mat-icon class="small-icon">euro_symbol</mat-icon> {{ card.amount }}
                </span>
                <span>{{ card.days }} Dias</span>
              </div>
            </mat-card-content>
          </div>
        </mat-button-toggle>
      </div>
    </div>

  </form>

  <div *ngIf="serverError" class="server-error-messages">
    <mat-error>{{ serverError }}</mat-error>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="test" align="center">
  <mat-button-toggle mat-button (click)="onSubmit()" translate>{{ isEdit ? 'Save' : 'Create'}}</mat-button-toggle>
  <mat-button-toggle mat-button mat-dialog-close>Close</mat-button-toggle>
</mat-dialog-actions>