<div class="">
  <h2 mat-dialog-title align="center">{{ modalTitle }}</h2>
</div>

<mat-dialog-content class="mat-typography">

  <form class="form" name="itemForm" [formGroup]="form">

    <section class="add-edit-list-item">

      <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile colspan="1" rowspan="5">

          <section class="formulario">
            <div class="child-formulario">

              <hub-form-group  name="title" [control]="titleFormControl">
                <!-- [validationErrors]="validationErrors"-->
                <mat-form-field appearance="fill">
                  <mat-label>Titulo</mat-label>
                  <input matInput value="" formControlName="title" />
                </mat-form-field>
              </hub-form-group>

              <hub-form-group name="description" [control]="descriptionFormControl">
                <mat-form-field appearance="fill">
                  <mat-label>Descrição</mat-label>
                  <textarea  matInput formControlName="description"></textarea>
                </mat-form-field>
              </hub-form-group>

              <hub-form-group name="category" [control]="categoryFormControl">
                <mat-form-field appearance="fill">
                  <mat-label>Categoria</mat-label>
                  <mat-select>
                    <mat-option value="one">Veiculos</mat-option>
                    <mat-option value="two">Servicos</mat-option>
                  </mat-select>
                </mat-form-field>
              </hub-form-group>
            </div>

            <div class="child-opcoes">
              <mat-button-toggle-group>
                <mat-button-toggle value="red">Oferta</mat-button-toggle>
                <mat-button-toggle value="green">Pedido</mat-button-toggle>
                <mat-button-toggle value="blue">Troca</mat-button-toggle>
              </mat-button-toggle-group>
            </div>

            <div class="child-expira-data">

              <hub-form-group name="expirationDate" [control]="expirationDateFormControl">
                <mat-form-field appearance="fill">
                  <mat-label>Expira em</mat-label>
                  <mat-select>
                    <mat-option value="one">3 Dias</mat-option>
                    <mat-option value="two">7 Dias</mat-option>
                  </mat-select>
                </mat-form-field>
              </hub-form-group>

              <hub-form-group name="expirationDate" [control]="acceptsTradeFormControl">
                <mat-checkbox formControlName="acceptsTrade">Aceita trocas</mat-checkbox>
              </hub-form-group>

            </div>
          </section>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="5">
          <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile class="mat-grid-tile-images"   colspan="2" rowspan="2">
              <img *ngIf="itemImagesAvaliable && item.images[0]" mat-card-image src="{{ item.images[0] }}" />
              <div *ngIf="!itemImagesAvaliable || !item.images[0]" class="no-image">
                <i class="fa fa-camera"></i>
              </div>
            </mat-grid-tile>
            <mat-grid-tile class="mat-grid-tile-images" colspan="1" rowspan="2" style="background: rgb(0, 255, 179)">
              <img class="image-tile" *ngIf="itemImagesAvaliable && item.images[1]" mat-card-image src="{{ item.images[1] }}" />
              <div *ngIf="!itemImagesAvaliable || !item.images[1]" class="no-image">
                <i class="fa fa-camera"></i>
              </div>
            </mat-grid-tile>
            <mat-grid-tile class="mat-grid-tile-images" colspan="1" rowspan="2" style="background: yellow">
              <img   *ngIf="itemImagesAvaliable && item.images[2]" mat-card-image src="{{ item.images[2] }}" />
              <div *ngIf="!itemImagesAvaliable || !item.images[2]" class="no-image">
                <i class="fa fa-camera"></i>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-grid-tile>

        <mat-grid-tile  colspan="2" rowspan="4">

          <mat-grid-list cols="2" rowHeight="200px">

            <mat-grid-tile style="display:flex ;" *ngFor="let card of cards">

              <mat-button-toggle class="destacar-anuncio" value="flour">

                <ng-container  *ngIf="card.icon">

                  <mat-icon  color="primary"> public </mat-icon>

                  <i class="fa-solid fa-mobile-button"></i>
                </ng-container>

                <ng-container *ngIf="!card.icon">
                  <mat-icon  color="primary"> star </mat-icon>
                  <span class="fa-stack fa-2x" style="--fa-inverse: #88b0a0">
                    <i [ngClass]="card.iconStacked1"></i>
                    <i [ngClass]="card.iconStacked2"></i>
                  </span>
                </ng-container>

                <div class="card-text">
                  <mat-card-title style="font-size:20px ;">{{ card.title }}</mat-card-title>
                  <mat-card-content>
                    <div class="curency">
                      <span>{{ card.ammount }}</span>
                      <span>{{ card.days }} Dias</span>
                    </div>
                  </mat-card-content>
                </div>
              </mat-button-toggle>

            </mat-grid-tile>

          </mat-grid-list>
        </mat-grid-tile>
      </mat-grid-list>
    </section>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="center">

  <mat-button-toggle style="width:150px ;" mat-button mat-dialog-close>Criar</mat-button-toggle>

</mat-dialog-actions>