.curency {
  font-size: 2em;
}


mat-grid-list {
  width: 1000px;
}

mat-button-toggle-group {
  flex-direction: row;
}

.add-edit-list-item {
 
  width: 100%;
}

.child-formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10%;
    
}

.child-opcoes {

  width: 100%;
  margin: auto;
  
}

.child-expira-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10%;
}

mat-button-toggle{margin:10px}

ng-container{display: flex;
flex-direction: row;}
