<h2 mat-dialog-title>Adicionar Artigo</h2>
<mat-dialog-content class="mat-typography">
  
  <mat-form-field appearance="fill">
    <mat-label>Titulo</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Descrição</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Categoria</mat-label>
    <mat-select>
      <mat-option value="one">Veiculos</mat-option>
      <mat-option value="two">Servicos</mat-option>
    </mat-select>
  </mat-form-field>


  <div class="card-group">

  <mat-card class="example-card">
    <mat-card-title>Destacar anuncio no site</mat-card-title>
    <mat-card-content>
      <div class="curency">
        <span>3.00</span>
        <span>3 Dias</span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title>Destacar anuncio no site</mat-card-title>
    <mat-card-content>
      <div class="curency">
        <span>3.00</span>
        <span>3 Dias</span>
      </div>
    </mat-card-content>
  </mat-card>


  <mat-card class="example-card">
    <mat-card-title>Destacar anuncio no site</mat-card-title>
    <mat-card-content>
      <div class="curency">
        <span>3.00</span>
        <span>3 Dias</span>
      </div>
    </mat-card-content>
  </mat-card>


  <mat-card class="example-card">
    <mat-card-title>Destacar anuncio no site</mat-card-title>
    <mat-card-content>
      <div class="curency">
        <span>3.00</span>
        <span>3 Dias</span>
      </div>
    </mat-card-content>
  </mat-card>

</div>
  <mat-checkbox>
  </mat-checkbox>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>EDITAR</button>
</mat-dialog-actions>