.curency {
  font-size: 2em;
}

mat-grid-list {
  width: 1000px;
  height: 2000px;
}


.add-edit-list-item {
  width: 100%;
}

.child-formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10%;

}

.child-opcoes {

  width: 100%;
  margin-left: 10%;

}

.mat-grid-tile-images {
  border-radius: .8em;
  border-style: dashed;
  border-width: 2px;
  border-color: rgb(60, 94, 58);
  padding-block: 10px;
 

}

.image-tile {
 
  object-fit: cover;

}

.child-expira-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10%;
}

.destacar-anuncio {
  
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 5px;
  display: flex;
  justify-content: center;
 
}

mat-icon {
  display: flex;
  flex: 1;
  font-size: 80px;
  float: left;
}
.card-text {
  display: flex;
  flex: 2;
  flex-direction: column;
  float: right;
 
}

