<div class="">
  <h2 mat-dialog-title align="center">{{ modalTitle }}</h2>
</div>

<mat-dialog-content class="mat-typography" *ngIf="!isLoading">

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>{{ item.title}}</mat-card-title>
      <mat-card-subtitle *ngIf="!isLoading">
        <mat-icon>person</mat-icon>
        {{ getUserFromId(item.userId)}}
      </mat-card-subtitle>
      <img mat-card-sm-image src="{{ item.images[0]}}">
    </mat-card-title-group>
  </mat-card>

  <div class="trade-hr">
    <app-request-type [typeOfRequest]="item.typeOfRequest"></app-request-type>

  </div>

  <mat-form-field appearance="fill" *ngIf="item.typeOfRequest === typeOfRequest.Trade">
    <mat-label>Add items to trade</mat-label>
    <mat-select (selectionChange)="onSelectedItemChange($event)" multiple>
      <mat-option *ngFor="let userItem of userItemsList" [value]="userItem.id">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="image-thumbnail" style="background:url('{{userItem.images[0]}}')"></div>
            <mat-card-title>{{ userItem.title }}</mat-card-title>
          </mat-card-header>

        </mat-card>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <textarea matInput rows="8" [(ngModel)]="message" placeholder="Write here your message..."></textarea>
  </mat-form-field>

  <div *ngIf="serverError" class="server-error-messages">
    <mat-error>{{ serverError }}</mat-error>
  </div>

</mat-dialog-content>
<mat-dialog-actions class="test" align="center">
  <mat-button-toggle mat-button mat-dialog-close>Cancel</mat-button-toggle>
  <mat-button-toggle mat-button (click)="onSubmit()">Send</mat-button-toggle>
</mat-dialog-actions>