<div class="">
  <h2 mat-dialog-title align="center">{{ modalTitle }}</h2>
</div>

<mat-dialog-content class="mat-typography">

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>{{ item.title}}</mat-card-title>
      <mat-card-subtitle>
        <mat-icon>person</mat-icon>
        {{ item.username}}
      </mat-card-subtitle>
      <img mat-card-sm-image src="{{ item.images[0]}}">
    </mat-card-title-group>
  </mat-card>

  <div class="trade-hr">
    <mat-icon>swap_horiz</mat-icon>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Add items to trade</mat-label>

    <mat-select [formControl]="userItems" multiple>
        <mat-option *ngFor="let userItem of userItemsList" [value]="userItem.id">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="image-thumbnail" style="background:url('{{userItem.images[0]}}')"></div>
              <mat-card-title>{{ userItem.title }}</mat-card-title>
           </mat-card-header>
           
          </mat-card>
      </mat-option>
    </mat-select>
  </mat-form-field>




</mat-dialog-content>
<mat-dialog-actions class="test" align="center">
  <mat-button-toggle mat-button mat-dialog-close>Cancel</mat-button-toggle>
  <mat-button-toggle mat-button mat-dialog-close>Send</mat-button-toggle>
</mat-dialog-actions>