<header>
  <h2>Messages</h2>
</header>

<div class="chat">
  <div class="userlist">

    <ng-container *ngFor="let message of messagesToShow">
      <mat-card class="example-card" (click)="selectMessage(message.uid)"
        [ngClass]="{'active': selectedMessage && selectedMessage.uid == message.uid}">
        <mat-card-header>
          <div mat-card-avatar class="image-thumbnail">
            <mat-icon *ngIf="message.requestType == 1">directions</mat-icon>
            <mat-icon *ngIf="message.requestType == 2">pan_tool</mat-icon>
            <mat-icon *ngIf="message.requestType == 3">swap_horiz</mat-icon>
          </div>
          <mat-card-title>{{ getSellerName(message.sellerId, message.buyerId) }}</mat-card-title>
          <mat-card-subtitle>{{ getRequestTypeName(message.requestType) }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>{{ getProductTitleFromId(message.itemId) }}</mat-card-content>
      </mat-card>
    </ng-container>

  </div>
  <ul id="messages" pinScroll>

    <li class="no-messages" *ngIf="!selectedMessage">
      <p>No messages to show.</p>
    </li>

    <ng-container *ngIf="selectedMessage">
      <li *ngFor="let msg of selectedMessage.messages" class="sent"
        [ngClass]="{'sent': msg.senderId === currentUser.uid, 'received': msg.senderId !== currentUser.uid}">
        <span>{{ msg.timestamp.toDate() | date:'medium' }}</span>
        <p>{{ msg.message }}</p>
      </li>
    </ng-container>
  </ul>

  <form id="message-form">
    <input matInput id="message-input" type="text" />
    <button mat-button color="secondary" id="message-btn" type="submit">Send</button>
  </form>
</div>