body {
    background-color: #f3f2f3;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

#messages {
    flex: 1;
    min-width: 400px;
    overflow: auto;
    height: 74vh;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
    background-color: darkseagreen;
    padding: 1em;
    border-radius: 10px;
    color: white;
    width: 50%;
}

li span {
    font-size: 0.8em;
    color: #545454;
}

li p {
    margin: 0;
}

.chat {
    display: flex;
}

#message-form {
    text-align: center;
    position: fixed;
    left: 230px;
    bottom: 0;
    width: calc(100% - 230px);
    background-color: #b7b5b9;
}

input {
    width: 100%;
    height: 40px;
    border: none;
    border-top: 1px solid rgb(0 0 0 / 12%);
    padding: 1em;

    &:focus {
        offset: none;
        outline: none;
        box-shadow: 0 0 0 0.125rem darkseagreen;
    }
}

.sent {
    text-align: right;
    background-color: #a79cb3;
    margin-left: 50%;
    padding: 1em;
}

.sent span {
    font-size: 0.8em;
    color: #545454;
}
.receive {
    padding: 1em;
}
.userlist {
    overflow: auto;
    height: 74vh;
    mat-card {
        margin-bottom: 0.5em;

        mat-card-header {
            mat-icon {
                font-size: 2.5em;
            }
        }

        mat-card-content {
            text-align: center;
        }
    }

    mat-card.active {
        background: darkseagreen;
        color: white;
    }
}

.selected-item {
    margin: 1em;
    padding: 0;
    mat-card-title {
        padding: 0.5em;
    }
}
.image-thumbnail-item {
    width: 100px;
    height: 100px;
    background-color: rgb(76 175 80 / 20%) !important;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 0;
}

.customer-first-interaction {
    margin: 1em;
    padding: 0;
    mat-card-title {
        padding: 0.5em;
    }
    hr {
        border: 2px solid darkseagreen;
    }
}
.confirmation-buttons {
    display: flex;
    justify-content: center;
    margin: 1em;

    button:first-child {
        margin-right: 1em;
    }
}

.full-width {
    width: 100% !important;
    background-color: #6e6e6e;
}
