body {
    background-color: #f3f2f3;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

#messages {
    flex: 1;
    min-width: 400px;
    overflow: auto;
    height: 74vh;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
    background-color: darkseagreen;
    padding: 5px;
    border-radius: 10px;
    color: white;
    width: 50%;
}

li span {
    font-size: .8em;
    color: #545454;
}

li p {
    margin: 0;
}

.chat {
    display: flex;
}

#message-form {
    text-align: center;
    position: fixed;
    left: 230px;
    bottom: 0;
    width: calc(100% - 230px);
    background-color: #b7b5b9;
}

input {
    width: 74%;
    height: 40px;
}

button {
    width: 25%;
    height: 40px;
}

.sent {
    text-align: right;
    background-color: #a79cb3;
    margin-left: 50%;
    padding: 1em;
}

.sent span {
    font-size: .8em;
    color: #545454;
}
.receive {
    padding: 1em;
}
.userlist {
    overflow: auto;
    height: 74vh;
    mat-card {
        margin-bottom: 0.5em;

        mat-card-header {
            mat-icon {
                font-size: 2.5em;
            }
        }

        mat-card-content {
            text-align: center;
        }
    }

    mat-card.active {
        background: darkseagreen;
        color: white;
    }
}
