<header>
  <h2>Messages</h2>
</header>

<div class="chat">
  <div class="userlist">

    <ng-container *ngFor="let message of messagesToShow">
      <mat-card class="example-card" (click)="selectMessageFromId(message.id)"
        [ngClass]="{'active': selectedMessage && selectedMessage.id == message.id}">
        <mat-card-header>
          <div mat-card-avatar class="image-thumbnail">
            <mat-icon *ngIf="message.requestType == typeOfRequest.Request">directions</mat-icon>
            <mat-icon *ngIf="message.requestType == typeOfRequest.Offer">pan_tool</mat-icon>
            <mat-icon *ngIf="message.requestType == typeOfRequest.Trade">swap_horiz</mat-icon>
          </div>
          <mat-card-title>{{ getSellerName(message.sellerId, message.buyerId) }}</mat-card-title>
          <mat-card-subtitle translate>{{ getRequestTypeName(message.requestType) }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>{{ getProductTitleFromId(message.itemId) }}</mat-card-content>
      </mat-card>
    </ng-container>

  </div>
  <ul id="messages" pinScroll>

    <li class="no-messages" *ngIf="!selectedMessage">
      <p>No messages to show.</p>
    </li>

    <ng-container *ngIf="selectedMessage">
      <div>
        <mat-card class="selected-item">
          <mat-card-header>
            <div mat-card-avatar class="image-thumbnail-item" style="background:url('{{itemInfo.images[0]}}')"></div>
            <mat-card-title>{{ itemInfo.title }}</mat-card-title>
            <mat-card-subtitle translate>
              <app-request-type [typeOfRequest]="itemInfo.typeOfRequest"></app-request-type>
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>

        <div class="customer-first-interaction">
          <mat-card class="customer-message">
            <mat-card-header>
              <mat-card-subtitle>{{ getUserName(selectedMessage.buyerId) }} - {{
                getTimeSinceMessage(selectedMessage.messages[0].timestamp) }}</mat-card-subtitle>
              <mat-card-subtitle>{{selectedMessage.messages[0].message}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
          <hr>
        </div>


      </div>
      <div class="confirmation-buttons">
        <button *ngIf="activateAcceptButton" (click)="acceptRequest()" class="green-btn" mat-raised-button
          translate>Accept</button>
        <button *ngIf="activateRejectButton" (click)="rejectRequest()" class="red-btn" mat-raised-button
          translate>Reject</button>
        <button *ngIf="activateCancelButton" (click)="cancelRequest()" class="red-btn" mat-raised-button
          translate>Cancel</button>
        <button *ngIf="activateReActivateRequest" (click)="reActivateRequest()" class="green-btn" mat-raised-button
          translate>Re-Activate</button>
          <button *ngIf="activateFinishButton" (click)="finishRequest()" class="green-btn" mat-raised-button
          translate>Finish</button>

      </div>

      <ng-container *ngFor="let msg of selectedMessage.messages; let i = index ">
        <li *ngIf="i !== 0" class="sent"
          [ngClass]="{'sent': msg.senderId === currentUser.uid, 'received': msg.senderId !== currentUser.uid}">
          <span>{{ getTimeSinceMessage(msg.timestamp) }}</span>
          <p>{{ msg.message }}</p>
        </li>
      </ng-container>
      <li class="full-width" *ngIf="selectedMessage.status === status.PENDING">
        <p *ngIf="isBuyerViewing">Your request is pending confirmation</p>
        <p *ngIf="isSellerViewing">Please approve or decline the request</p>
      </li>
    </ng-container>
  </ul>

  <form id="message-form" *ngIf="showMessageControls">
    <input type="text" id="message-input" placeholder="Type a message..." [(ngModel)]="message"
      (keyup.enter)="sendMessage()" [ngModelOptions]="{standalone: true}" autocomplete="off">
  </form>
</div>