.example-card {
  text-align: center;
  margin: 1em;
  height: 40vh;

  mat-card-title {
    padding: 1em;
  }
  
  mat-card-subtitle {
    padding: 1em;
  }
  mat-progress-bar {
    height: 45px;
}

}

