.curency {
    font-size: 2em;
}

.card-group{
    padding: 1em;
    margin: 1em;
    display: flex;

    .example-card {
        flex:1;
        display: inline-flex;
        svg:first-child {
            font-size: 3em;
        }

    }


}
mat-button-toggle-group  {
    display: grid;
}