<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <div class="logo">
        <img src="../../../assets/logo.png" />
      </div>

      <h3 translate>Reset Password <app-language-selector [icon]="true"></app-language-selector></h3>

      <p class="text-center" translate>Please enter your email address to request a password reset.</p>

      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="{{ 'Email Address' | translate }}"
          #passwordResetEmail
          required
        />
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input
          type="submit"
          class="btn btnPrimary"
          value="{{ 'Reset Password' | translate }}"
          (click)="forgotPassword(passwordResetEmail)"
        />
      </div>

    <div *ngIf="serverError" class="text-error">
      <i class="fas fa-exclamation-triangle"></i> {{ serverError }}
    </div>
    </div>


    <div class="redirectToLogin">
      <span translate>Go back to <span class="redirect" (click)="navigateTo('sign-in')" translate>Login</span></span>
    </div>
  </div>
</div>
