<mat-grid-list cols="4" rowHeight="100%" class="list-view-grid">




  <mat-grid-tile class="filtros" >
    <form class="example" action="action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
   
    <h3 style="margin-top:15px;">Filtros</h3>

    <mat-button-toggle-group #group="matButtonToggleGroup" name="tipoDeAnuncio" aria-label="Tipo de anuncio"
      [value]="selectedType" (change)="onSelectedType(group.value)" multiple>
      <mat-button-toggle value="1">Oferta</mat-button-toggle>
      <mat-button-toggle value="2">Pedido</mat-button-toggle>
      <mat-button-toggle value="3">Troca</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-form-field appearance="fill">
      <mat-label class=""> </mat-label>

      <mat-select #mode value="side">
        <mat-option value="side">Veiculos</mat-option>
        <mat-option value="over">Vestuário</mat-option>
        <mat-option value="push">Push</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="">
        <mat-icon> location_on</mat-icon> Localização
      </mat-label>
      <mat-select #hasBackdrop>
        <mat-option>Porto</mat-option>
        <mat-option [value]="true">True</mat-option>
        <mat-option [value]="false">False</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label class="">
        <mat-icon>calendar_today</mat-icon> Válido até
      </mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-hint></mat-hint>

      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>

      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3">
    <div class="lista">
      <mat-toolbar color="">
        <span></span>
        <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
          <span *ngIf="gridColumns === 4"></span>
          <span *ngIf="gridColumns === 3"></span>
        </button>
        <mat-button-toggle class="criar_anuncio" value="green" (click)="create()">Criar Anuncio</mat-button-toggle>
      </mat-toolbar>

      <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
          <div [fxFlex]="100 / gridColumns + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let anuncio of data.feed"
            [routerLink]="anuncio.id">
            <mat-card class="mat-elevation-z4">
              <div>
                <span class="imglistspan">{{ anuncio.requestTypeName }}</span>
                <img mat-card-image src="{{ anuncio.images[0] }}" />
              </div>


              <mat-card-header>
                <mat-card-subtitle>{{ anuncio.category }}</mat-card-subtitle>
                <mat-card-title>{{ anuncio.title }}</mat-card-title>
              </mat-card-header>

              <mat-card-actions class="bottom-icons">
                <span>
                  <mat-icon>place</mat-icon>
                  {{ anuncio.location}}
                </span>

                <span>
                  <mat-icon>person</mat-icon>
                  {{ anuncio.username}}
                </span>
                <!-- <button mat-button>
                  <mat-icon color="primary">thumb_up </mat-icon>
                </button>
                <button mat-button>
                  <mat-icon color="primary">place</mat-icon>
                </button> -->
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>