<mat-grid-list cols="4" rowHeight="100%" class="list-view-grid feed">

  <mat-grid-tile class="filtros">

    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title translate>Search</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>{{ 'Search' | translate }}</mat-label>
          <span matPrefix>
            <mat-icon>search</mat-icon>
          </span>

          <input matInput type="text" name="search" [(ngModel)]="searchText" (input)="search()">
          <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="search(true)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title translate>Filters</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>{{ 'Category' | translate }}</mat-label>
          <mat-select placeholder="{{ 'Category' | translate }}" [(ngModel)]="category" (ngModelChange)="search()">
            <mat-option *ngFor="let category of categories" [value]="category">
              {{ category }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>{{ 'County' | translate }}</mat-label>
          <mat-select placeholder="{{ 'County' | translate }}" [(ngModel)]="county" (ngModelChange)="search()">
            <mat-option *ngFor="let county of counties" [value]="county">
              {{ county }}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date">
            <input matEndDate placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

      </mat-card-content>
    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile [colspan]="3">
    <div class="lista">
      <mat-toolbar color="">
        <span></span>
        <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
          <span class="gridList" *ngIf="gridColumns === 1"><mat-icon>apps</mat-icon> Grid</span>
          <span class="gridList" *ngIf="gridColumns === 3"><mat-icon>menu</mat-icon> List</span>
        </button>
        <button (click)="create()" class="green-btn" mat-raised-button translate>Create New</button>
      </mat-toolbar>

      <div class="content" *ngIf="!loading">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
          <div [fxFlex]="100 / gridColumns + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of tempFeed"
            [routerLink]="item.id">
            <mat-card class="mat-elevation-z4">
              <div>
                <app-request-type [typeOfRequest]="item.typeOfRequest"></app-request-type>
                <div class="feed-image" style="background:url('{{item.images[0]}}')"></div>
              </div>

              <mat-card-header>
                <mat-card-subtitle>{{ item.category }}</mat-card-subtitle>
                <mat-card-title>{{ item.title }}</mat-card-title>
              </mat-card-header>

              <mat-card-actions class="bottom-icons">
                <span>
                  <mat-icon>place</mat-icon>
                  {{ item.location.county }}, {{ item.location.district }}
                </span>

              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>