

  
  .page {
      background: rgb(244, 243, 243);
    display: flex;
    height: calc( 100vh - 30px);
    /* calculate the height. Header is 30px */
  }
  
  .sideBar {
    min-width: 250px;
  }
  
  .content {
    flex: 1 0 auto;
    /* enable grow, disable shrink */
  }


mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}