
<!-- Artigos Destacados -->
<div class="column-layout group">
  <h5 class="h5">
    Artigos Destacados
  </h5>


 



</div>
<div class="column-layout group_1">
  <div class="row-layout group_2">
    <!-- caixa superior com botões -->
    <div class="column-layout group_4">
     <!-- <button mat-raised-button routerLink="/feed">BACK</button>-->
      <button class="button" mat-raised-button mat-raised-button color="primary" cdkDragDisabled (click)="onEdit(item)">EDITAR ANUNCIO</button>
    </div>
  </div>
  <div class="row-layout group_5">
    <!-- caixa que contém as imagens -->
    <div class="column-layout group_6">

     
      <img [src]="item?.images[0]" class="image" />
      <div class="row-layout group_7">
        <img [src]="item?.images[1]"  class="image_1" />

        <img [src]="item?.images[2]"  class="image_2" />


      

      </div>
    </div>
    <!-- caixa detalhe produto -->
    <div class="column-layout group_8">

      <div class="Tipo">{{ item.requestTypeName }}</div>
      <mat-card-header>

          <mat-card-title>{{ item.title }}</mat-card-title>
          
       
      </mat-card-header>
      <mat-card-subtitle>Descrição</mat-card-subtitle>
      <mat-card-content>
        <p>
          {{ item?.description }}
        </p>
      </mat-card-content>


    </div>

    <div class="column-layout group_9">
       <!-- caixa Localização -->
      <div class="column-layout group_10">
        <h5 class="h5">
          Localização
        </h5>
        
        <div #map style="width:100%;height:450px"></div>

      
        <span>
          <mat-icon>place</mat-icon>
          {{ item.location }}
        </span>
       
      </div>
    </div>
  </div>
  <!-- caixa Artigos Relacionados-->
  <div class="row-layout group_11">
    <h5 class="h5">
      Artigos Relacionados
    </h5>








  </div>
</div>