<div class="container" fxLayout="row" fxLayoutAlign="start start">


  <div class="nav-sidebar" fxFlex="230px">
    <ul  class="nolist" >
      <li>
        <a  class="card-text" routerLink="my-items">
          <mat-icon >shopping_basket</mat-icon>
          <mat-card-title style="font-size: 25px" translate>Adverts</mat-card-title>
        </a>
      </li>
      <li>
        <a  class="card-text" routerLink="my-account">
          <mat-icon >person_pin</mat-icon>
          <mat-card-title style="font-size: 25px" translate>Profile</mat-card-title>
        </a>
      </li>
      <li>
        <a  class="card-text" routerLink="my-cards">
          <mat-icon>card_membership</mat-icon>
          <mat-card-title style="font-size: 25px" translate>Cards</mat-card-title>
        </a>
      </li>
    </ul>
  </div>



  <div class="main-content" fxFlex>
    <router-outlet></router-outlet>
  </div>


</div>