.container {
    height: 100%;
}

.nav-sidebar {
    height: 100%;
    background: #88b0a0a6;
    color: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 0em;
    display: flex;
    flex-direction: column;

    .image-thumbnail {
        background-color: rgb(76 175 80 / 20%)!important;
        background-size: cover;
    }

    ul {
        padding: 0;
        text-align: center;
        margin: 0;
        border-top: 1px solid white;
    
        li {
            list-style-type: none;
    
            a {
                // justify-content: center;
                mat-icon {
                    padding-right: 1.5em;
                }
                mat-card-title {
                    font-size: 1em;
                    margin: 0;
                }
            }
        }
    }

    .active {
        background: #88b0a0;
      }
}

.main-content {
    height: 100%;
    background: #eeeeee;
    padding: 1em;
}

.card-text {
    display: flex;
    padding: 10px;
}



