<div class="formGroup" [ngClass]="{ 'has-error': control.touched && validationErrors[name] }">
  <label translate>
    <span *ngIf="required">*</span>{{label}}
    <div *ngIf="tooltipText" class="tooltip-circle">
      <i class="fa fa-info-circle" [matTooltipPosition]="tooltipPlacement ? tooltipPlacement : 'above'"
        [matTooltip]="tooltipText"></i>
    </div>
  </label>
  <ng-content></ng-content>
  <div *ngIf="validationErrors[name] && control.touched" class="text-error">
    <i class="fas fa-exclamation-triangle"></i> {{ validationErrors[name] }}
  </div>
</div>