form {
    border-color: #e0e0e0;
    margin: 20px;

}

.authBlockinfocontato {

    margin-left: 0px;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;





}

.mat-grid-tile-infoform {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    display: block;
}

.moradasede {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20%;



}