form {
    border-color: #e0e0e0;
    margin: 20px;
}

.authBlockinfocontato {
    margin-left: 0px;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 243, 243);
}

.mat-grid-tile-infoform {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    display: block;
}

.formcontato {
    background-color: rgb(237, 243, 243);
}

.cards {
    width: 40%;
    float: left;
}

.gmap_canvas {
    width: 100%!important;
}