.authBlock {
    margin: 0 auto;
    max-width: 400px;
    background: white;
    padding: 30px 40px 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
  }


.forgotPassword {
    text-align: center;
    margin: -12px 0 15px 0;
    float: left;
    width: 100%;
  }
  
  .forgotPassword span {
    color: #4dd5fe;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    padding-top: 20px;
  }
  
  .redirectToLogin {
    padding: 15px 0 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    display: block;
    color: lightgray;
  }
  
  .redirectToLogin .redirect {
    cursor: pointer;
    color: #88b0a0;
    text-decoration: underline;
  }
  