.lista,
.featured-item {
  min-width: 100%;

  .content {
    height: 92vh;
    overflow: auto;
    position: relative;
  }

  .imglistspan {
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 4% 5%;
    border-radius: 5%;
    color: white;
    background: rgba(45, 49, 46, 0.8);
    opacity: 0.8;
    z-index: 1;
  }
  .bottom-icons {
    span {
      padding: 0.5em;
      mat-icon {
        color: #88b0a0;
        font-size: 1em;
      }
    }
    .filtros {
      padding-top: 20px;
      background-color: #88b0a0;
    }
  }

  mat-card {
    height: 100%;
    padding: 0 0 1em 0;
    mat-card-title {
      font-size: 1em !important;
    }
    app-request-type {
      position: absolute;
      opacity: 0.5;
    }
    mat-card-subtitle {
      margin-bottom: 0.5em;
    }
    mat-card-actions {
      margin: 0 0.5em;
    }
  }
  .mat-card-image {
    min-height: 225px;
  }
}

.feed-image {
  height: 250px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(76 175 80 / 20%) !important;
  background-position: center !important;
  background-size: cover !important;
  margin-bottom: 0.5em;
}
